{{- if and .Values.config.enabled (gt (len .Values.config.data) 0) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dcs-app.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "dcs-app.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    managed-by: {{ .Values.labels.managedBy | quote }}
    owner: {{ .Values.labels.owner | quote }}
data:
  {{- range $k, $v := .Values.config.data }}
  {{ $k }}: |-
    {{- $v | nindent 4 }}
  {{- end }}
{{- end }}

