apiVersion: v1
kind: Service
metadata:
  name: {{ include "dcs-app.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "dcs-app.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    managed-by: {{ .Values.labels.managedBy | quote }}
    owner: {{ .Values.labels.owner | quote }}
    dcs.ingress/enabled: {{ .Values.labels.dcsIngress.enabled | quote }}
    dcs.ingress/host: {{ default "" .Values.labels.dcsIngress.host | quote }}
    dcs.ingress/path: {{ default "/" .Values.labels.dcsIngress.path | quote }}
  annotations:
    {{- if .Values.ingress.enabled }}
    expose: "true"
    {{- end }}
    {{- toYaml .Values.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app.kubernetes.io/name: {{ include "dcs-app.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http

